* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.header__logo img {
  height: 50px;
  margin: 0;
  padding: 0;
}
.burger div {
  display: none;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
.header__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header__item {
  list-style-type: none;
  display: flex;
}
.header__list {
  margin-left: 40px;
}
.header__list a {
  text-decoration: none;
  color: black;
}
.header__list a:hover {
  color: grey;
}
.header__button button {
  border: none;
  background-color: black;
  color: white;
  padding: 10px 15px;
}
.header__button button:hover {
  opacity: 0.7;
}
header {
  padding: 10px;
}
.section__title {
  font-family: "Roboto", sans-serif;
  font-family: "RocknRoll One", sans-serif;
}
.section__item {
  display: flex;
  flex-wrap: wrap-reverse;
  position: relative;
}
.section__text {
  flex: 1.5 200px;
  background-color: white;
  color: black;
  display: flex;

  justify-content: center;
  flex-direction: column;

  position: relative;
  padding-left: 10px;
}
.section__text--background-black {
  background-color: black;
  color: white;
}
.section__description {
  margin-top: 10px;
}
.section__invite {
  margin-top: 10px;
}
.section__link {
  text-decoration: none;
  color: black;
}
.section__link--black {
  color: white;
}
.section__image {
  flex: 2 400px;
}
.section__image img {
  width: 100%;
  height: 100%;
}
.section__item--reverse {
  flex-direction: row-reverse;
}
.section__border {
  position: absolute;
  left: 0px;
  width: 5px;
  height: 200px;
  background-image: linear-gradient(
    to bottom,
    #3c26e4,
    #7d1cd3,
    #9f1ac3,
    #b625b4,
    #c536a7,
    #df3f99,
    #f2508b,
    #ff6580,
    #ff826b,
    #ffa559,
    #ffca52,
    #fbef5f
  );
}
.section__position {
  margin: auto;
}
.main__image {
  display: flex;
  flex-wrap: wrap;
  min-height: 450px;
}
.main__item {
  flex: 1 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  padding-bottom: 30px;
}
.main__item--first {
  background-image: url("images/notebook.jpg");
  background-size: cover;
  background-position: center;
}
.main__item--second {
  background-image: url("images/sunny.jpg");
  background-size: cover;
  background-position: center;
}
.main__item--third {
  background-image: url("images/code.jpg");
  background-size: cover;
  background-position: center;
}
.main__item--fourth {
  background-image: url("images/working.jpg");
  background-size: cover;
  background-position: center;
}
.main__line {
  width: 80%;
  height: 1px;
  background-color: white;
  margin-left: 30px;
}
.main__title {
  margin-left: 30px;
}
.main__text {
  margin-left: 30px;
}
.main__button {
  margin-left: 30px;
}
.main__information {
  margin-top: 15px;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  padding-bottom: 15px;
}
.main__description {
  flex: 1 400px;
  text-align: center;
}
.main__description img {
  height: 100px;
}
.main__about-us {
  font-family: "Roboto", sans-serif;
  font-family: "RocknRoll One", sans-serif;
}
.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: black;
  color: white;
  min-height: 100px;
}
.footer__logo {
  flex: 1 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
}
.footer img {
  height: 40px;
  width: 110px;
}
.footer__menu {
  flex: 2 400px;
  align-self: center;
}
.footer__button {
  flex: 1 150px;
  padding-bottom: 10px;
}
.footer__item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.footer__item a {
  text-decoration: none;
  color: white;
}
.footer__item a:hover {
  color: darkgray;
}
.footer__button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 15px;
}
.footer__button a {
  text-decoration: none;
  color: white;
}
.footer__icons img {
  width: 30px;
  height: 30px;
}
