@media only screen and (max-width: 375px) {
}
@media only screen and (max-width: 768px) {
  .burger div {
    display: block;
  }

  .header__nav {
    display: none;
  }
  .header__button {
    display: none;
  }

  ..header__container {
    justify-content: space-between;
  }
  .section__border {
    display: none;
  }
  .section__title {
    padding-top: 30px;
  }
  .section__invite {
    padding-bottom: 30px;
  }
  .footer__logo {
    text-align: center;
    margin-top: 20px;
  }
  .footer__menu {
    text-align: center;
    padding-right: 40px;
    margin-top: 20px;
  }
  .footer__button {
    text-align: center;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 1024px) {
  .section__border {
  }
}
